<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/beans/spring-context-3.0.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
        <aop:config>
        		<aop:pointcut expression="execution(* com.training.spring.aop.EmployeeManager.*(..))" 
        						id="logOperation"/>
        		<aop:aspect id="loggingAspect" ref="loggingAspectBean">
        			<aop:before pointcut-ref="logOperation" method="logBefore"/>
        			<aop:after pointcut-ref="logOperation" method="logAfter"/>
        		</aop:aspect>
        
        </aop:config>     
        <bean id="loggingAspectBean" class="com.training.spring.aop.EmployeeLoggingAspect" /> 
        <bean id="employeeManager" class="com.training.spring.aop.EmployeeManagerImpl" />
        <bean id="employeeDao" class="com.training.spring.aop.EmployeeDaoImpl" />           
    

</beans>